body{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    font-family:"Poppins", sans-serif;
}
.font-fa{
    font-family:  "Playfair Display", serif;
}
.bg{
    background-image: url(../image/composition-of-glowing-abstract-blend-circle-vector-23577469-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;}
    .w1{

    width: 330px;
    height:450px;
    }









    @media  screen and (max-width: 475px) {
        .w1{

            width: 275px;
            height:500px;
            }
      }